.itemContainer {
  background-color: white;
  padding: 16px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  border: 1px solid #eee;
  border-radius: 8px;
  min-width: 280px;
  transition: scale ease-in-out 200ms;
  &:hover {
    scale: 0.96;
    z-index: 1;
    img {
      scale: 1.1;
    }
  }

  img {
    width: 240px;
    height: 240px;
    transition: scale ease-in-out 200ms;
  }

  .title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 14px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
    margin-top: 24px;
    font-size: 12px;

    :first-child {
      font-weight: 600;
      font-size: 14px;
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .outOfStock {
    padding: 4px;
    border-radius: 8px;
    font-size: 10px;
    color: red;
    align-self: flex-start;
    font-weight: 500;
  }
}
